.task-list   {
    font-family: Arial, sans-serif;
    display: flex;
    padding: 25px;
    flex-wrap: wrap;
}

.tasks {
    /* add */
    width: 100% ;

    margin-right: 10px;
    flex: 1; 
    padding: 10px;
}

.title-tasks {
    flex: 1; 
    border-radius: 7px; 
    border: 1px solid #ccc;
    padding: 10px;
    text-align: center; 
}

.title-tasks.backlog {
    list-style-type: none;
    background-color: #808080;
    color: whitesmoke;
    display: flex;
}

.title-tasks.in-progress {
    background-color: #0077ff;
    color: whitesmoke;
    white-space: nowrap; 
}   

.title-tasks.done {
    background-color: #00a550;
    color: whitesmoke;
}

.title-tasks.trash {
    background-color: #f82525c8;
    color: whitesmoke;
}


