.task-list {
    font-family: Arial, sans-serif;
    display: flex;
    padding: 25px;
}

.tasks {
    list-style-type: none;
    margin: 0;
    flex: 1; 
    padding: 10px;
}

li h4 {
    border-radius: 7px; 
    border: 1px solid #ccc;
    padding: 10px;
    margin-right: 300px;    
}

.tasks.backlog h4{
    background-color: #808080;
    color: whitesmoke;
}

.tasks.in-progress h4{
    background-color: #0077ff;
    color: whitesmoke;
}   

.tasks.done h4{
    background-color: #00a550;
    color: whitesmoke;
}

.tasks.trash h4 {
    background-color: #f82525c8;
    color: whitesmoke;
}