.add-task button {
    color: whitesmoke;
    background-color: #0077ff;
    border-radius: 7px;
    border: 2px solid #ccc;
}

.add-task button:hover {
    color: black;
    background-color: whitesmoke;
    box-shadow: 0 1px 3px rgba(1,0,0,0.1);
}

.add-task button:active {
    color: #0077ff;
}

.new-task { 
    display: block;
    border: 1px solid #ccc;
    width: 380px;
    border-radius: 7px; 
    padding: 30px;
    margin: 10px;
    box-shadow: 0 1px 3px rgba(1,0,0,0.1);
    margin-right: 1450px;
    margin-left: 35px;
    background-color:#fff;
    margin-top: 30px;
    font-family: "Montserrat", sans-serif;   
    font-size: 18px;    
    font-weight: 600; 
}

